
:root {
    --primary-color: rgb(145, 23, 23);
    --secondary-color: rgb(255, 255, 169);
    --background-color: white;
    --text-color: white;
    --text-color-dark: black;  
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr auto;
}


#logo-link {
    grid-column: 1/2;
    margin: 20px;
}

#header-titles {
    grid-column: 2/3;
    align-self: center;
    margin: 0;
}

#header-titles p {
    margin: 0;
    font-size: 1rem;
}

#header-titles h1 {
    margin: 0;
    font-size: 1.75rem;
}

#menu {
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
    padding: 20px;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.menu-links {
    display: none;
    grid-column: 1/4;
    background-color: var(--secondary-color);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-links .active {
    text-decoration: underline;
}

.menu-links.show {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
}

.menu-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    
    color: var(--text-color);
    padding: 2rem;
}

.menu-links a:hover {
    border: 1px solid white;
    background-color: var(--primary-color);  
}

/* home */
.hero {
    text-align: center;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    text-wrap: wrap;
    height: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

.hero button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero button:active {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
}



#home-container, #directory-container {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: 1.75rem;
}

#home-cards, #directory-cards {
    display: flex;
    flex-direction: column;
}

.home-card {
    background-color: var(--secondary-color);
    margin-bottom: 20px;
}

.home-card h2 {
    margin: 0;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
}

#home-dir-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#events p {
    margin: 0;
    padding: 20px;
}

#weather-icon {
    grid-column: 1/2;
    padding: 20px;
    justify-self: center;
}

#current-weather-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 10px;
}



#current-weather-details span {
    font-weight: normal;
    margin-left: 5px;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.card-label {
    font-weight: bold;
    margin-right: 5px;
    font-size: .9rem;
}

/*///////////////////////////////////*/
.spotlight {
    display: block;
    background-color: var(--secondary-color);
    padding: 20px;
    max-width: 100%;
    word-break: break-all; 
    word-wrap: break-word;
    text-align: center;
}
.spotlight img{
    width: 50%;
    margin: 0 auto;
}



/* Directory Page Content */

.directory {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
}
  
.content-container {
    padding: 0 2%;
}
  
.directory-buttons {
    text-align: start;
}
  
.directory-buttons button {  
    border-radius: 6px;
    color: var(--text-color); 
    background-color: var(--primary-color); 
}
  
.directory-buttons button:focus {
    background-color: var(--secondary-color);
    color: #000;
    border: 2px #bc6c25 solid;
}
  
#panel {
    background-size: 50px 50px;
    
}

  
.directory-grid {
    color: black;
    margin-bottom: 25px;
}
  
.directory-grid section h2 {
    text-align: center;
}
  
.directory-grid section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 12px;
    background-color: var(--secondary-color);
    border: 2px #bc6c25 solid;
    border-radius: 3px;
}
  
.directory-grid img {
    display: none;
}
  
.directory-grid section p {
    text-align: center;
    font-size: 16px;
}
  
.directory-grid section a {
    text-align: center;
    font-size: 16px;
    
}
  
.directory-grid section a:hover {
    text-align: center;
    font-size: 16px;   
    color: #fff;
    text-shadow: 1px 1px #000;
}
  
.panelview {
    display: grid;
    grid-template-columns: 1fr;
}

.panelview section {
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: block;
    border: 2px #bc6c25 solid;
    border-radius: 3px;
}
  
.panelview img {
    padding: 0px;
    display: block;
    margin: 15px auto;
    width: 100px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 5px;
}
  
section h4{
    text-align: center;
}


/*footer*/
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: block;
    font-size: .9rem;
}

footer p {
    margin: 0;
    padding: 2px;
}

.footer-title {
    font-weight: bold;
}

#social {
    text-align: center;
}

#social img {
    padding: 5px 15px;
    max-width: 48px;
}

#contact-info, #social, #copyright-info {
    padding: 20px;
    align-self: center;
    justify-self: left;
}
