
:root {
    --primary-color: rgb(145, 23, 23);
    --secondary-color: rgb(255, 255, 169);
    --background-color: white;
    --text-color: white;
    --text-color-dark: black;  
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr auto;
}


#logo-link {
    grid-column: 1/2;
    margin: 20px;
}

#header-titles {
    grid-column: 2/3;
    align-self: center;
    margin: 0;
}

#header-titles p {
    margin: 0;
    font-size: 1rem;
}

#header-titles h1 {
    margin: 0;
    font-size: 1.75rem;
}

#menu {
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
    padding: 20px;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.menu-links {
    display: none;
    grid-column: 1/4;
    background-color: var(--secondary-color);
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-links .active {
    text-decoration: underline;
}

.menu-links.show {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
    
}

.menu-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    
    color: var(--text-color);
    padding: 2rem;
}

.menu-links a:hover {
    border: 1px solid white;
    background-color: var(--primary-color);  
    color: var(--secondary-color);
}

/* home */
.hero {
    text-align: center;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    text-wrap: wrap;
    height: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

.hero button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero button:active {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
}



#home-container, #directory-container {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: 1.75rem;
}

#home-cards, #directory-cards {
    display: flex;
    flex-direction: column;
}

.home-card {
    background-color: var(--secondary-color);
    margin-bottom: 20px;
}

.home-card h2 {
    margin: 0;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
}

#home-dir-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#events p {
    margin: 0;
    padding: 20px;
}

#weather-icon {
    grid-column: 1/2;
    padding: 20px;
    justify-self: center;
}

#current-weather-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 10px;
}



#current-weather-details span {
    font-weight: normal;
    margin-left: 5px;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.card-label {
    font-weight: bold;
    margin-right: 5px;
    font-size: .9rem;
}

/*///////////////////////////////////*/
.spotlight {
    display: block;
    background-color: var(--secondary-color);
    padding: 20px;
    max-width: 100%;
    word-break: break-all; 
    word-wrap: break-word;
    text-align: center;
}
.spotlight img{
    width: 50%;
    margin: 0 auto;
}



/* Directory Page Content */

.directory {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
}
  
.content-container {
    padding: 0 2%;
}
  
.directory-buttons {
    text-align: start;
}
  
.directory-buttons button {  
    border-radius: 6px;
    color: var(--text-color); 
    background-color: var(--primary-color); 
}
  
.directory-buttons button:focus {
    background-color: var(--secondary-color);
    color: #000;
    border: 2px #bc6c25 solid;
}
  
#panel {
    background-size: 50px 50px;
    
}

  
.directory-grid {
    color: black;
    margin-bottom: 25px;
}
  
.directory-grid section h2 {
    text-align: center;
}
  
.directory-grid section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 12px;
    background-color: var(--secondary-color);
    border: 2px #bc6c25 solid;
    border-radius: 3px;
}
  
.directory-grid img {
    display: none;
}
  
.directory-grid section p {
    text-align: center;
    font-size: 16px;
}
  
.directory-grid section a {
    text-align: center;
    font-size: 16px;
    
}
  
.directory-grid section a:hover {
    text-align: center;
    font-size: 16px;   
    color: #fff;
    text-shadow: 1px 1px #000;
}
  
.panelview {
    display: grid;
    grid-template-columns: 1fr;
}

.panelview section {
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: block;
    border: 2px #bc6c25 solid;
    border-radius: 3px;
}
  
.panelview img {
    padding: 0px;
    display: block;
    margin: 15px auto;
    width: 100px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 5px;
}
  
section h4{
    text-align: center;
}

/*JOIN///////////////////////////////////////////*/

#join-container, #thanks-container {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
#join-container h1 {
    text-align: center;
}
#form-container h2 {
    margin: 0;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
}
#form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
}
#form-container form {
    padding: 20px;
}

.join-form .form-label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color-dark);
}

.join-form .form-input, .form-textarea {
    height: 44px;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

.join-form .form-textarea {
    height: 140px;
    text-wrap: wrap;
    resize: vertical; 
}

.join-form input:required, .join-form input:invalid {
    border-left: 5px solid maroon;
}

.join-form input:valid, .join-form textarea:valid {
    border-left: 5px solid green;
}

.join-form fieldset {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    width: 100%;
}

#submit-button {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    font-family: var(--font-family-serif);
    text-wrap: wrap;  
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.25rem;
    width: 100%;
    margin-top: 10px;
    border: outset var(--primary-color);
}
#submit-button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}


.radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;  
    color: var(--text-color-dark);
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 10px;  
    width: 70%;
    height: 44px;
    cursor: pointer;
}

.radio-button input {margin-right: 10px; }
.radio-button.np {animation: pulseNP 2s infinite;}
.radio-button.np:hover {background-color: var(--primary-color); color: white;}
.radio-button.bronze {animation: pulseBronze 2s infinite; }
.radio-button.bronze:hover {background-color: var(--primary-color); color: white;}
.radio-button.silver {animation: pulseSilver 2s infinite;}
.radio-button.silver:hover {background-color: var(--primary-color); color: white;}
.radio-button.gold{animation: pulseGold 2s infinite;}
.radio-button.gold:hover {background-color: var(--primary-color); color: white;}

@keyframes pulseNP {
    0% {box-shadow: 0 0 0 0px black;}
    100% {box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);}
}

@keyframes pulseBronze {
    0% {box-shadow: 0 0 0 0px green}
    100% {box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);}
}

@keyframes pulseSilver {
    0% {box-shadow: 0 0 0 0px blue;}
    100% {box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);}
}

@keyframes pulseGold {
    0% {box-shadow: 0 0 0 0px rgb(255, 115, 0);}
    100% {box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);}
}
#membership-level-link {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
#membership-level-link:hover {
    font-weight: bold;
}
::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#membership-dialog {
    background-color: var(--background-color);
    color: var(--text-color-dark);
    margin: 0 auto;
    padding: 0; 
    align-self: center;
}

#membership-dialog .modal-heading {
    display: block;
}

#membership-dialog #table-heading {
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--font-family-serif);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    margin: 0;
    /* width: 100%; */
}

#membership-dialog #close-modal {
    background-color: var(--primary-color);
    border: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
    font-family: var(--font-family-serif);
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#membership-dialog ul {
    padding: 10px 10px 10px 30px;
}
#membership-dialog th {
    padding: 10px;
}

#membership-dialog td:nth-child(odd) {
    text-align: center;
    padding: 0;
    
}

#membership-dialog tr, #membership-dialog td {
    border: 1px solid var(--primary-color);
}

#thanks-container {
    text-align: center;
}
#thanks-container #results {
    background-color: var(--secondary-color);    
    color: var(--text-color-dark);  
}

/* Discover Page Content */
.box-title {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.sidebar h4{margin: 0px 0px 4px 0px;}

.sidebar {
    margin-bottom: 25px;  
}
.spot-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 40px;
    margin-top: 40px;
    background-color: var(--secondary-color);
}
.sub-box {
    width: auto; height: 200px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px var(--primary-color);
}
#spot-1, #spot-2, #spot-3, #spot-4, #spot-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    height: auto;

}

.spot-grid img {
    grid-column: 2/3; grid-row: 1/2;
    border: 2px solid var(--black);
}
.spot-grid p {
    grid-column: 2/3; grid-row: 2/3;
    
}

.spot-grid a {
    grid-column: 2/3; grid-row: 3/4;
}  

.discover-grid {
    display: block;  
}



.discover-box .box-title {
    min-width: 200px;
}

.discover-box .box-content {
    padding-bottom: 40px;
}

.discover-grid img {
    width: 100%; height: auto; /*RESPONSIVE IMAGE*/
    transition: 1s;
    max-width: 600px;
    background-color: lightgray;
}

.discover-grid img:hover {
    transition: 0.5s;
    transform: scale(1.02, 1.02);
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.discover-grid img:active {
    filter: blur(2px);
    transition: 2s;
}

figure img {
    animation: fade 30s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 20;}
}

/*footer//////////////////////////////////////////////////////*/
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: block;
    font-size: .9rem;
}

footer p {
    margin: 0;
    padding: 2px;
}

.footer-title {
    font-weight: bold;
}

#social {
    text-align: center;
}

#social img {
    padding: 5px 15px;
    max-width: 48px;
}

#contact-info, #social, #copyright-info {
    padding: 20px;
    align-self: center;
    justify-self: left;
}
