
@media screen and (min-width: 700px) {
    header {  
        grid-template-columns: auto auto 1fr; 
    }

    #menu {
        display: none;
    }

    .menu-links {
        display: flex;
        justify-content: right;
        grid-column: 3/4;
        background-color: var(--primary-color);
        margin: 20px;
    }

    .menu-links a {
        font-family: var(--font-family-sans);
        font-size: .9rem;
        text-align: right;
        align-self: flex-end;
        padding: 10px 20px;
    }

    .menu-links a:hover {
        border: none;
        font-size: 1rem;
    }
    
    /* MAIN SECTION */
    .hero button {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
    #directory-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home-cards {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 20px;
    }

    #home-dir-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-heading {
        grid-column: 1/2;
    }

    

    /* Directory Page Content */
    .directory-grid section {
        grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    }
    
    .directory-grid img {
        /*padding: 0px;
        display: block;
        margin: 5px auto;
        width: 50px;
        box-shadow: 5px 5px 10px #000000;
        border-radius: 5px;*/
        display: none;
    }
    
    .panelview {
        grid-template-columns: 1fr 1fr;
    }
    .panelview img {
        padding: 0px;
        display: block;
        margin: 5px auto;
        width: 100px;
        box-shadow: 5px 5px 10px #000000;
        border-radius: 5px;
    }
    
    /* JOIN */
    #form-container {
        width: 600px;
    }
    .radio-button:hover {
        background-color: var(--secondary-color);  
        color: var(--text-color);
    }

    /* Discover Page Content */
    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        
    }
    
    .discover-box {
        display: grid;
        grid-template-rows: auto;
    }
    .sidebar {
        grid-column: 2/3;
        grid-row: 1/7;
        margin-bottom: 60px;
        margin-right: 35px;  
        background-color: var(--secondary-color); 
        margin-top: 35px;  
    }


    /* footer */

    footer {
        display: flex;
        flex-direction: row;
    }
    footer div {
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 1200px) {

    main {
        margin: 0px 0px 20px 0px;
    }
}
